<?xml version="1.0"?>
<launch>

    <!-- Include the Gazebo empty world launch file -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

    <!-- Load the robot description -->
    <param name="robot_description" command="$(find xacro)/xacro $(find spotdog)/xacro/model/spotdog.xacro"/>

    <!-- Spawn the model in Gazebo -->
    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" 
          args="-param robot_description -urdf -model spotdog" 
          output="screen"/>
          
</launch>
